---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="/jobs" class="button">Join Us</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style5">
						<div class="inner">
							<header>
								<h4>研究方向:</h4>

								<p>根据高通量测序结果，利用生物信息学方法大规模挖掘真核生物顺式作用元件（cis-acting element)。真核生物增强子是主要的长程调控元件，参与众多基因差异化表达调控过程，是生物学的主要热点研究领域之一。</br>
                真核生物核小体结构特征挖掘及其与基因表达调控关联性分析。核小体是染色体的基本结构单位，，其排布和丰度对染色质结构有决定性影响，并与基因表达调控密切相关。我们的工作提出了一种新的核小体排布规律，并进一步揭示了核小体规律性排布与基因表达水平的正相关关系.</br>
                云计算及虚拟化在高通量测序数据挖掘中的应用。随着近年来高通量测序技术的迅猛发展，生命科学数据（特别是基因组数据）的累积已呈现爆发式的增长，针对三代基因组测序海量数据的存储、分析、挖掘能力的需求快速增长。我们利用本地虚拟化集群与云计算、云存储相结合的办法有效的提高了高通量测序数据的处理效率，提供了可及时、高效、经济处理高通量测序的技术平台。</p>

							</header>

							<div class="12u"><span class="image fit"><img src="images/research-bg.png" alt="" /></span></div>

							<ul class="actions align-center">
								<a href="/publication" class="button">发表论文</a>
							</ul>
							<ul class="actions align-center">
								<a href="#two" class="more scrolly">Learn More</a>
							</ul>
						</div>

					</section>

					<section id="two" class="wrapper style4">
						<div class="inner">
							<header class="major">

							<div class="row">
								<div class="6u 12u$(medium)">
									<h1>近期动态</h1>
					        {% for post in site.categories.news limit:6 %}
										<ul>	<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a> </br> {{ post.date | date: "%Y-%m-%d" }} </ul>
									{% endfor %}
								</div>
								<div class="6u 12u$(medium)">
									<h1>会议/组会安排</h1>
									{% for post in site.categories.labmeeting limit:1 %}
										<p><a href="{{ site.baseurl }}{{ post.url }}"> 报告题目: {{ post.title }} </a> </br> 报告人: {{ post.person }} </br> 时间: {{ post.rtime }} </br> 地点： {{ post.rlocation }}</p>
										<p>
											{{ post.content }}
										<p>
									{% endfor %}
								</div>
							</header>


					  </div>
						<div class="actions align-center">
							<a href="#three" class="more scrolly">Learn More</a>
						</div>
					</div>
					</section>

				<!-- three -->
					<section id="three" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/Tao-Zhang.jpg" alt="" /></div><div class="content">
								<h2>张韬<br />
								教授</h2>
								<p>张韬扬州大学教授、江苏省特聘教授。曾在美国威斯康辛大学麦迪逊分校开展研究工作，
									先后任实习研究员，博士后等职。主要从事生物信息学、表观遗传学及基因组学的研究工作。
									主要研究成果先后发表在《PNAS》《Plant Cell》《Nucleic Acids Research》
									《Plant Physiology》等期刊上。
								</p>
								<ul class="actions align-right">
									<a href="#four" class="more scrolly">Learn More</a>
								</ul>
							</div>

						<!-- </section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section> -->
					</section>

				<!-- Three -->
					<section id="four" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>合作单位</h2>
								<p>本实验室与海内外知名大学及研究所建立了长期的友好的合作关系。</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>威斯康辛大学蒋继明实验室</h3>
									<p>全面合作开展植物表观遗传学、基因组学及细胞遗传学的研究工作。</p>
								</li>
								<li class="icon fa-laptop">
									<h3>华盛顿大学Steven Henikoff实验室</h3>
									<p>深入合作开展植物着丝粒及着丝粒核小体的研究工作。</p>
								</li>
								<li class="icon fa-code">
									<h3>威斯康辛大学/USDA翁益群实验室</h3>
									<p>合作开展黄瓜基因组学的研究工作。</p>
								</li>
								<li class="icon fa-headphones">
									<h3>中国农业大学金危危实验室</h3>
									<p>合作开展玉米农艺性状相关基因及基因组学的研究工作。</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>电子科技大学张勇实验室</h3>
									<p>合作开展植物表观遗传学及基因编辑技术的研究工作。</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>诚征高水平合作实验室</h3>
									<p>期待您的合作</p>
								</li>
							</ul>
						</div>
					</section>

					<!-- <section id="recent" class="wrapper style3">
						<h1>Recent Posts</h1>
							<ul>
									{% for post in site.posts limit:5 %}
										<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
									{% endfor %}
							</ul>
					</section> -->
				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>欢迎加入本实验室</h2>
								<p>诚聘副教授、讲师、师资博士后、博士后及工作人员，欢迎报考本实验室博士、硕士研究生。</p>
							</header>
							<ul class="actions vertical">
								<li><a href="/jobs" class="button fit special">Join Us</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
