---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Zhang Tao lab</h1>
        <h2 class="lead">Bioinformatics, Epigenetics and Genomics.</h2>
        <a href="{{ site.baseurl }}/research" class="btn">About us</a>
    </div>
</section>


<!-- Posts
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Software</span></h2>
    </div>

    <div class="row listfeaturedtag">

        {% assign sorted_posts = site.posts | sort: "priority" %}

        {% for post in sorted_posts %}

            {% if post.is_software == true %}

                {% include software.html %}

            {% endif %}

        {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>Latest</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.is_software == true %}

                {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div>

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>