<!-- Before Footer
    ================================================== -->
    <div class="beforefooter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h3>Welcome to join our laboratory</h3>
                    <p>We are pleased to invite associate professors, lecturers, postdocs and staffs to join us.</p>
                    <p>Welcome graduate students who have research enthusiasm to study in our laboratory.</p>
                </div>
                <div class="col-md-4 text-right footersocial">
                    <h5>Contact Us</h5>
                    <a class="btn btn-primary btn-lg" href="{{site.baseurl}}/job">Learn more</a>
                    <a class="btn btn-primary btn-lg" href="mailto:{{site.email}}">Mail</a>
                </div>
            </div>
        </div>
    </div>