<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
<!--        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">-->
            <p>Zhang Tao lab</p>
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsWow">

            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/research">Research</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/Publication">Publication</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Software</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">

                        {% assign sorted_posts = site.posts | sort: "priority" %}

                        {% for post in sorted_posts %}

                            {% if post.is_software == true %}

                                <a class="dropdown-item" href="{{site.baseurl}}{{ post.permalink }}">{{post.title}}</a>

                            {% endif %}

                        {% endfor %}

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="http://plantdhs.org/">PlantDHS</a>
                    <a class="dropdown-item" href="https://bioinfor.yzu.edu.cn/jbrowse2/">Genome browser</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ site.baseurl }}/download/oligo_datasets">Oligo datasets</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/events">Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/activity">Activity</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link highlight" href="mailto:{{site.email}}">Contact</a>
                </li>

            </ul>
            <!-- End Menu -->

        </div>
    </div>
</header>



<!-- End Menu Navigation
================================================== -->