<div class="sidebar">
            
        <div class="sidebar-section">
            <h5><span>Recommended</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://bioinfor.yzu.edu.cn/">Zhang Tao Lab</a></li>
            <li><a target="_blank" href="https://github.com/zhangtaolab">Github</a></li>
            <li><a target="_blank" href="http://plantdhs.org/">PlantDHS</a></li>
            <li><a target="_blank" href="https://chorus2.readthedocs.io/en/latest/">Chorus2</a></li>
            <li><a target="_blank" href="https://bioinfor.yzu.edu.cn/crisprbets/">CRISPR-BETS</a></li>
            </ul>
        </div>
            
</div>