---
---

<div class="pub-entry" data-pub-searchable>
  <div class="text-justify">{{ reference }}</div>

  <!-- You can use the below to make your name bold -->
  <!-- <div class="text-justify">{{ reference | replace_first: 'Bryngelson, S. H.', '<b>Bryngelson, S. H.</b>' }}</div> -->

  {% assign bibtest = false %}
  {% if entry.file %}
  {% assign bibfile = "/papers/" | append: entry.file %}
  {% for file in site.static_files %}
    {% if file.path contains bibfile %}
     {% assign bibtest = true %}
    {% endif %}
  {% endfor %}
  {% endif %}

  <div class="pub-actions">
    {% if bibtest %}
    <a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank" class="btn-pill btn-pdf">PDF</a>
    {% endif %}

    {% if entry.doi %}
      {% if entry.type == 'unpublished' %}
      <a href="{{ entry.doi | prepend: 'https://arxiv.org/abs/' }}" target="_blank" class="btn-pill btn-arxiv">arXiv</a>
      {% else %}
      <a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank" class="btn-pill btn-doi">DOI</a>
      {% endif %}
    {% endif %}

    {% if entry.type == 'unpublished' or entry.type == 'article' or entry.type == 'thesis' or entry.type == 'inproceedings' or entry.type == 'report' %}
    <button class="btn-pill btn-bib" data-toggle-target="bib-{{ entry.key }}">BIB</button>
    {% endif %}

    {% if entry.abstract %}
    <button class="btn-pill btn-abstract" data-toggle-target="abs-{{ entry.key }}">Abstract</button>
    {% endif %}
  </div>

  {% if entry.abstract %}
  <div class="pub-collapse" id="bib-{{ entry.key }}">
    <pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
  </div>
  {% else %}
  <div class="pub-collapse" id="bib-{{ entry.key }}">
    <pre>{{ entry.bibtex }}</pre>
  </div>
  {% endif %}

  {% if entry.abstract %}
  <div class="pub-collapse" id="abs-{{ entry.key }}">
    <pre>{{ entry.abstract }}</pre>
  </div>
  {% endif %}
</div>
